/* Colmar Academy */
header {
    display: flex;
    flex-direction: row;
}

body {
    display: flex;
}

.sectionOne {
    flex-direction: row;
}

.sectionTwo {
    
}

.sectionTwoL {
    
}

.sectionTwoR {
    
}

.sectionTwoR1 {
    
}

.sectionTwoR2 {
    
}

.sectionTwoR3 {
    
}

.sectionThree {
    
}

.boxOne {
    
}

.boxTwo {
    
}

.boxThree {
    
}

.boxFour {
    
}

.boxFive {
    
}

.boxSix {
    
}

.sectionFourL {
    
}

.sectionFourR1 {
    
}

.sectionFourR2 {
    
}

footer {
    
}

/* text styling */

.fontStyle {
    font-family: sans-serif;
}

h1 {
    font-family: monospace;
}

h2 {
    color: #3A3A3A;
}

.capsBlack {
    color: black;
    justify-items: flex-start;
}

.capsGrey {
    color: lightgrey;
    justify-items: flex-start;
}

.headerText {
    font-size: 16px;
    display: flex;
    justify-items: flex-end;
}

.boldGreyText {
    color: #3A3A3A;
    font-weight: 200;
}

.lightGreyText {
    color: #A5A5A5;
    font-size: 14px;
}

.midGreyText {
    color: #3A3A3A;
    font-style: bold;
    font-size: 18px;
}

.linkText {
    color: blue;
}

.courses {
    color: #A5A5A5;
}

.footerText {
    font-size: 10px;
    color: dimgrey;
}

.fa fa-copyright {
    
}

/* image styling */

.banner {
    display: flex;
    justify-content: flex-start;
}

.infoMain {
    
}

.informationImages {
    
}

courseImages {
    
}

.thesisVideo {
    
}